/* HTML5 | CSS3 for "index.html" v1.0.1 | EL BEMOL | https://www.elbemol.es/ */

/* main.css 1.0 | EL BEMOL | */
/*
    STYLES GUIDE:
    0. GENERIC
    1. HEADER
        1.1. HEADER LOGO
        1.2. NAVIGATION
            1.2.1. Important styles
            1.2.2. On activation
            1.2.3. Menu appearance
                1.2.3.1. Navigation
                1.2.3.2. Social icons
    3. BACKGROUND
    4. FOOTER
    5. MEDIA QUERIES
    -------------------------
    COLOURS:
        colour1_garnet => #99182e;
        colour2 => white;
        colour3 => black;
        colour4_grey => #303030;
    -------------------------
    FONTS (sans-serif):
        Montserrat
        Michroma    
    */

 /* ==========================================================================
   Begining of web styles definition
   ========================================================================== */

/*-------------------------
    0.    GENERIC
-------------------------*/
body {
    background-color: black;
    /*box-sizing: border-box;*/
    /*overflow-x: auto;*/
}


/*-------------------------
    1.    HEADER  
-------------------------*/
header {
    position: absolute;
    width: 100%;
    height: 18%;
    top: 0;
    left: 0;
    background: black;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*  1.1. HEADER LOGO    */
header .menu-movile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#header-logo-icon {
    margin: 0 0 0 5%;
    width: 32%;
}
header div a figure {
    margin: 0;
}
header #logo_grande img {
    width: 100%;
}


/*-------------------------
2.    NAVIGATION  
-------------------------*/

/*  1.2. NAVIGATION    */
    /*  1.2.1. Important styles    */
#toggle {
    display: block;
    float: right;
    width: 40px;
    height: 25%;
    margin: 7vh auto 10px;
    margin-right: 90px;
}
#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}
#toggle span:after{
    top: 9px;
}
#toggle span {
    position: relative;
    display: block;
}
#toggle span,
#toggle span:after,
#toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #99182e;
    transition: all 0.8s;
    backface-visibility: hidden;
    border-radius: 2px;
}
  
    /*  1.2.2. On activation    */
#toggle.on span {
    background-color: transparent;
}
#toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
    opacity: 1;
    visibility: visible;
}
 
    /*  1.2.3. Menu appearance    */
        /*  1.2.3.1. Navigation    */
#menu {
    display: block;
    position: absolute;
    top: 70%;
    right: 0%;
    color: #99182e;
    width: 200px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-radius: 4px;
    background: #303030;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
    z-index: 100;
}
#menu:after {
    position: absolute;
    top: -15px;
    left: 95px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #99182e;
}
ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}
nav li a {
    padding: 5px;
    color: white;
    text-decoration: none;
    transition: all .2s;
}
nav li a:hover,
nav li a:focus {
    background: #99182e;
    color: #fff;
    transition-duration: 0.3s;
}

        /*  1.2.3.2. Social icons    */
.social-icons li a:hover{
    border-radius: 50px;
}
.social-icons {
    border-top: solid 1px #99182e;
}
.social-icons li {
    display: inline-block;
    width: 40%;
}
.social-icons li a {
    color: #99182e;
}
.social-icons li a i {
    font-size: 1.5em;
}


/*-------------------------
    3.    MAIN/BACKGROUND  
-------------------------*/
main {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    background: url(../img/DSC_0138.JPG) top center no-repeat;
    background-size: cover;
    height: 82%;
}
#credits {
    background: none;
    width: 60%;
    height: 35%;
    font-family: 'Michroma', sans-serif;
    border-top: solid 2px #99182e;
    border-bottom: solid 2px #99182e;
    /*z-index: 1;*/
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#credits h1 {
    margin: 0px;
    margin-bottom: 10px;
    color: #99182e;
    font-size: 35px;
    width: max-content;
    letter-spacing: .1em;
}
#credits h2 {
    margin: 0px;
    color: #fff;
    font-size: 15px;
    width: max-content;
    letter-spacing: .1em;
}

/*-------------------------
    4.    FOOTER  
-------------------------*/
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 18%;
    background: black;
    font-family: 'Montserrat', sans-serif;
}
/*centrar lista <ul>*/
footer .icons-footer {
    padding: 10px;
    margin: 2px 0 0 0;
    /*vertical-align: auto;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: solid 1px red;*/
}
footer ul li{
    padding: 0;
    margin-right: 20px;
    margin-bottom: 5%;/*diferente a >480px*/
    width: 100%;/*diferente a >480px*/
    list-style: none;
    text-align: center;
    display: inline-block;
    /*border: solid green 2px;*/
}
footer ul li a {
    padding: 0;
    margin: 0;
    width: 100%;/*diferente a >480px*/
    display: inline-block;
    text-align: center;
    color: white;
    text-decoration: none;
    vertical-align: top;
    /*border: solid pink 2px;*/
}
footer ul li a figure{
    padding: 0;
    margin: 0;
    width: 50%;/*diferente a >480px*/
    display: inline-block;
    
    /*border: solid red 2px;*/
    vertical-align: middle;
    font-size:0.6em;
    text-align: center;
}
footer ul li a figure:hover{
    color: #99182e;
    transition-duration: 0.5s;
}
#logo_footer img,
#logo_federación img{
    width: 60%;
}
#envelope{
    padding: 0;
    margin: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-size: 75px;
    color: #99182e;
}
#envelope:hover {
    font-size: 55px;
    transition-duration: 0.5s;
    color: white;
}

/*The following lines are the style definition for the bottom copyright*/
footer p {
    padding: 2px;
    margin: 0;
    vertical-align: bottom;
    color: #99182e;
    font-size: 0.65em;
    text-align: center;
}
footer p a{
    text-decoration: none;
    color: white;
}
footer p a:hover{
    color: #99182e;
}

/*-------------------------
    5.    MEDIA QUERIES  
-------------------------*/
@media screen and (min-width: 480px){/*HEADER AND FOOTER CHANGES*/
    /*-------------------------
        1.    HEADER  
    -------------------------*/
    #header-logo-icon {
        width: 30%;
    }
    
    /*-------------------------
        4.    FOOTER  
    -------------------------*/
    footer ul li{
        width: 130px;
    }
    footer ul li a {
        width: 130px;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    footer ul li a figure{
        width: 130px;
    }

    #logo_footer img,
    #logo_federación img{
        width: 100px;
    }
    #envelope{
        font-size: 90px;
    }
    #envelope:hover {
        font-size: 100px;
    }
}

@media screen and (min-width: 600px){/*NAVIGATION AND MAIN/BACKGROUND CHANGES*/

    /*-------------------------
    2.    NAVIGATION  
    -------------------------*/
        nav ul li {
            font-size: 150%;
            padding: 5%;
        }

        /*  1.2.3.2. Social icons    */
        .social-icons li {
            width: 20%;
            margin: 3%;
        }
    /*-------------------------
        3.    MAIN/BACKGROUND  
    -------------------------*/
    main {
        background-position: center;
    }
}
@media screen and (min-width: 767px){/*NO CHANGES ADDED*/

}

@media screen and (min-width: 950px){/*FOOTER CHANGES*/
    /*-------------------------
        1.    HEADER  
    -------------------------*/
    #header-logo-icon {
        width: 15%;
    }

    /*-------------------------
        4.    FOOTER  
    -------------------------*/
    footer ul {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer ul li{
        margin-right: 5%;
        margin-left: 5%;
        width: 25%;
    }
    footer ul li a {
        width: 100%;
    }
    footer ul li a figure{
        width: 100%;
        font-size: 0.9em;
    }
    #logo_footer img,
    #logo_federación img{
        width: 65%;
    }
    #envelope{
        font-size: 80px;
    }
    #envelope:hover {
        font-size: 90px;
    }
    /*The following lines are the style definition for the bottom copyright*/
    footer p {
        padding: 10px;
        font-size: 1em;
    }
}